.nav-in-opt{
    width:100%;
}

.btn-size{
  width:140px;
}

.button-right{
  display:inline-block;
}
.nav-logo-img{
  width: 300px;
  height: 32px;
  margin-top: 10px;
}
.navbar-bcg-col{
  background-color: #272822;
}

.flex-stretch{
  flex-basis: 60%;
}

.btn-logout-outline {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border:1px solid #ffffff !important;
}


