#sidebar {
    width: 45%;
    position: fixed;
    top: 71px;
    right: 0;
    height: 90vh;
    z-index: 999;
    background: #272822;
    color: #fff;
    transition: all 0.3s;
    overflow:auto;
  }

  #printable-area{
    background: #272822;
    color: #fff;
    transition: all 0.3s;
  }

.sidebar-header{
    margin:20px;
    text-align: center;
    border-bottom: 3px solid #47748b;    
}


.div-table {
  display: table;    
  text-align:center;     
  width: 90%;
  margin: 30px;           
  padding: 20px 0;  
  border-bottom: 3px solid #47748b; 
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  border-bottom: 1px solid #47748b;
  clear: both;
  font-size: 1.1em;
}
.div-table-header{
  font-weight: bold;
}
.div-table-col {
  float: left; /* fix for  buggy browsers */
  display: table-column;         
  width: 100px;    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.total-amount-display{
  margin:30px;
}

.radio-spacing{
  margin:10px;
}

.space-between-radio{
  margin-right:10px;
}

.button-space{
  margin:60px 0px;
}

.radio-buttons{
  display: flex;
  justify-content: center;
}

.check{
  display:none;
}

.orderdetails-info{
   width: 50%;
   text-align: left;
}

.orderDetails-main{
  margin: 20px;
  border-bottom: 2px solid #47748b; 
}